<!DOCTYPE html>
<html>
<head>
	<title>Adressage IP</title>
	<script type="text/javascript" src="vendor/validator-js/validator.js"></script>
	<script type="text/javascript"src="script.js"></script>
</head>
<body>
	<h1>Adressage IP</h1>
	<form name="ip">
		<p>
			<label>Adresse IP</label>
			<input type="text" size="2" maxlength="3" name="ip1" onkeyup="suivant(this, 'ip2', 3)"></input>.
			<input type="text" size="2" maxlength="3" name="ip2" onkeyup="suivant(this, 'ip3', 3)"></input>.
			<input type="text" size="2" maxlength="3" name="ip3" onkeyup="suivant(this, 'ip4', 3)"></input>.
			<input type="text" size="2" maxlength="3" name="ip4" onkeyup="suivant(this, 'go', 3)"></input>
			<input type="button" value="Go" name="go" onclick="validerIP('ip1','ip2','ip3','ip4');"></input>
		</p>
	</form>
</body>
</html>